*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

header, main{
    width: 1000px;
    margin: 40px auto;
}

main::after{
    content: '';
    clear: both;
    display: table;

}
h1{
    color: rgb(232, 54, 155)
}

header, p{
    text-align: center;
    margin-bottom: 50px;
}

/* inizio style card */
.card{
    width: calc(1000px / 3 - 20px);
    height: 100px;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    margin-bottom: 50px;
    float: left;
    box-shadow: 0px 0px 5px 0px #000000;
}

.card:not(.third){
    margin-right: 30px;
}
/* fine style card */


.card img{
    height: 100%;
    float: left;
    margin-right: 10px;
}

/* inzio style testo  */
.card div{
    height: calc( 100px / 3);
    
}

.job, a{
    font-size: 14px;
}

h2{
    font-size: 20px;
    font-weight: 800;
}

h2, .job{
    padding-top: 10px;
}

a{
    color: rgb(52, 183, 234);
    text-decoration: none;
}