*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}

body{
    width: 70%;
    margin: 40px auto;
}

.bold{
    font-weight: 800;
}

header, p{
    text-align: center;
    margin-bottom: 50px;
}

.card{
    width: 300px;
    height: 100px;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    

}

.card img{
    height: 100%;
    float: left;
    margin-right: 10px;
}

.card div{
    height: calc( 100px / 3);
    padding: 7px;
}

.job, a{
    font-size: 14px;
}

h2{
    font-size: 20px;
    font-weight: 800;
}

a{
    color: rgb(52, 183, 234);
    text-decoration: none;
}